.nav_container {
  justify-content: space-between;
  flex-grow: 1;
  text-align: right;
}
.nav_link {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.nav_link:hover {
  opacity: 0.5;
}
.nav_active {
  color: red;
}
