.background {
  min-height: 100vh;
  background-image: url("/images/japanese-paper_00363.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: repeat;
}
.main_container_with_sidebar {
  margin-left: 240px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.footer{
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}
.main_container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
}
