.background {
  min-height: 100vh;
  background-image: url("/images/japanese-paper_00363.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: repeat;
}
.main_container_with_sidebar {
  margin-left: 240px;
}
