.home_contents {
  width: 100%;
  text-align: center;
  padding-top: 10vh;
}
.home_contents h2 {
  position: relative;
  display: inline-block;
  margin: 2em auto;
  font-size: 20px;
}

.home_contents h2::before {
  content: "";
  position: absolute;
  top: calc(-100% - 60px);
  left: 0;
  right: 0;
  width: 2px;
  height: 60px;
  margin: auto;
  background-color: black;
}
