.home_contents {
  width: 100%;
  text-align: center;
  padding-top: 5vh;
}
.about_contents h2 {
  position: relative;
  display: inline-block;
  margin: 2em auto;
  font-size: 20px;
  margin-top: calc(4em + 60px);
}

.about_contents h2::before {
  content: "";
  position: absolute;
  top: calc(-100% - 60px);
  left: 0;
  right: 0;
  width: 2px;
  height: 60px;
  margin: auto;
  background-color: black;
}

.about_contents p{
  line-height: 2em;
  margin: 1em auto;
}